.weather-card {
  max-width: 600px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-list-item {
  border-bottom: 1px solid #ccc;
}

mat-list-item mat-icon {
  font-size: 32px;
  margin-right: 15px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 16px;
}
